$colour-yellow: #F2C040;
$colour-white: #FFFFFF;
$colour-black: #000000;
$colour-dark-gray: #2c2a2a7a;
$colour-light-gray : rgb(161, 160, 153)000;
$colour-light-gray2 : rgb(200, 199, 188)000;
$colour-orange:#ef2800;
$colour-red:rgb(239, 0, 0);
$colour-dark-gray2:#3C434C;
$colour-blue:rgb(43, 82, 255);
$colour-transparent-blue:rgba(43, 82, 255, 0.155);
$colour-green:rgb(25, 173, 9);
$colour-dark-blue:rgba(24, 46, 145, 0.902);
$colour-purple:#e11eff90;
$colour-dark-purple:#630c7190;
$colour-dark-purple2:rgb(82, 8, 167);
$colour-transparent-black:#00000086;
$colour-transparent-black2:rgba(0, 0, 0, 0.616);

$colour-transparent-grey:rgba(66, 66, 66, 0.541);
$colour-transparent-grey2:rgba(207, 207, 207, 0.541);
$slight-shadow-grey:rgba(223, 223, 223, 0.364);

$context-background-colour:rgb(31, 31, 31);
$context-background-colour-on-hover:rgb(88, 88, 88);

