$colour-white: #262424;
$colour-black: #ffffff;
$colour-dark-gray: #2c2a2a7a;
$colour-light-gray : rgb(161, 160, 153)000;
$colour-light-gray2 : rgb(200, 199, 188)000;

$colour-dark-gray2:#3C434C;
$colour-transparent-grey:rgba(66, 66, 66, 0.541);
$colour-transparent-grey2:rgba(207, 207, 207, 0.541);
$slight-shadow-grey:rgba(223, 223, 223, 0.364);

$context-background-colour:rgb(31, 31, 31);
$context-background-colour-on-hover:rgb(88, 88, 88);



