.stat-card {
    max-width: 400px;
    border-radius: 20px;
    text-align: center;
    flex: 1;
    margin: 0 8px;
    padding:  16px 0 0 0;
    position: relative; 
  }
  
  .stat-card-title {
    padding: 0 26px;
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  .stat-card-value {
    padding: 0 16px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .stat-card-change {
    font-size: 1em;
    height: auto;
    padding: 10px 16px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    button, button:hover, button:active{
      background-color: inherit;
      color: inherit;
      border: none;
    }
  }
  