.context-menu {
  z-index: 1000;
    padding: 10px;
    position: absolute;
    background: $context-background-colour;
    color: $colour-white;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    display: none; // Initially hidden
    font-size: .7em;
    min-width: 200px;
    max-width:300px;
    // This should be a standalone class, not nested
    &.visible {
      display: block; // Show when visible
    }
    
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      padding: 0;
      text-align: start;
      a {
        padding: 8px 18px;
        text-decoration: none;
        color: inherit;
        display: block;
        transition: background-color 0.5s ease-in-out; /* Transition property */
      }
  
      &:hover {
        
        background: $context-background-colour-on-hover;
        border-radius: inherit;
        color: inherit;
      }
    }
  }
  