.lms-course-card{
    padding: 10px;
    img{
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
    .teacher-name, .course-name {
        font-size: .8em;
        color: $colour-transparent-black;
    }
    
    .course-name{
        color: $colour-black;
        font-weight: 600;
    }
    p{
        font-size: .7em;
    }
    .grade{
        font-size: 1em;
        span{
            font-size: 1.4em;
            font-weight: 700;
        }
    }   
    .grade-msg{
        span{
            border-bottom: 2px solid $colour-green;
        }
    }
    #saveToBookmarksBtn{
        &:hover{
            color: $colour-green;
        }
    }
}
