
.card {
    border-radius: 10px;
}
.purple{
    color: $colour-purple;
    font-weight: 800;
}
.form-control {
    border-radius: 5px;
}
.btn-purple {
    background-color: $colour-purple;
    border-color: $colour-dark-purple;
}

.btn-purple:hover {
    background-color: $colour-purple;
    color:$colour-white;
}

.text-muted {
    color: #6c757d !important;
}

.lms .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .sign-in-form , .sign-up-form {
        width: 100%;
        max-width: 400px;
        padding: 2rem;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .confirm-btn {
            background-color: $colour-purple;
            border: none;
            color: #fff;
            padding: 0.75rem;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($colour-purple, 10%);
            }
        }

        .form-group {
            margin-bottom: 1rem;

            .form-control {
                padding: 0.75rem;
                border: 1px solid $colour-light-gray;
                border-radius: 5px;
                transition: border-color 0.3s ease;

                &:focus {
                    border-color: $colour-purple;
                    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
                }
            }
        }
    }
    .custom-button {
        display: inline-block;
        padding: 10px 30px;
        margin-top: 20px;
        background: linear-gradient(45deg, #6a11cb, #9f25fc);
        color: $colour-white;
        text-align: center;
        text-decoration: none;
        border-radius: 50px;
        font-size: 20px;
        background-size: 200%;
        transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-position 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        box-shadow: 0 10px 20px rgba(158, 33, 225, 0.4), 0 20px 40px rgba(243, 7, 255, 0.2);
    
        &:hover {
            transform: scale(1.05);
            background-position: 100% 0;
            box-shadow: 0 15px 30px rgba(252, 92, 255, 0.5), 0 25px 50px rgba(153, 0, 255, 0.3);
        }
    }
    .sign-up-form{
        max-width: 700px;
    }
}
