#lms-sidebar {
    z-index: 2000;
    min-height: 100vh;
    max-width: 70px;
    transition: all 0.3s;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    background-color: $colour-white;
    color: $colour-transparent-black2;
    
    &:hover {
        max-width: 250px;
        color: $colour-black;
    }

    .nav-link {
        &:hover {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
            border-radius: 10px;
        }
    }

    .current-link {
        background: linear-gradient(45deg, #6a11cb, #9f25fc);
        border-radius: 10px;
        
        svg {
            background-color: $colour-white;
        }
    }

    .logo-link .nav-link .logo-text {
        font-size: 1.3em;
        font-weight: 900;
        color: #6a11cb;

        &:hover {
            background-color: inherit;
            box-shadow: none;
        }
    }

    .sidebar-header h3 {
        display: none;

        #sidebar:hover & {
            display: block;
        }
    }

    ul.components {
        padding: 0;

        li a {
            padding: 10px;
            font-size: 1em;
            display: block;
            text-decoration: none;
            transition: 0.6s;

            i, svg {
                border: 1px solid $colour-white;
                padding: 5px;
                border-radius: 4px;
                margin-right: 15px;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
            }

            span {
                margin-left: 20px;

                #sidebar:hover & {
                    display: inline;
                    color: $colour-black;
                }
            }
        }
    }
}


.content {
    min-height: 100vh;
    width: calc(100% - 70px);
    margin-left: 70px; /* Same as the max-width of the sidebar */
    padding: 20px;
    transition: margin-left 0.3s;
    
    #sidebar:hover & {
        margin-left: 250px; /* Same as the max-width on hover */
    }

    .user-menu a, .user-menu li {
        background-color: $colour-white; /* Initial background color */
        transition: background-color 0.2s ease-in-out; /* Transition property */

        &:hover {
            border-radius: 12px;
            background-color: $slight-shadow-grey !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (min-width: 769px){
    .ham-button{
        display: none;
    }
}

#sidebar2 {
    z-index: 2000;
    min-height: 100vh;
    transition: all 0.3s;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    background-color: $colour-white;
    color: $colour-transparent-black2;
    
    &:hover {
        max-width: 250px;
        color: $colour-black;
    }

    .nav-link {
        &:hover {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
            border-radius: 10px;
        }
    }

    .current-link {
        background: linear-gradient(45deg, #6a11cb, #9f25fc);
        border-radius: 10px;
        
        svg {
            background-color: $colour-white;
        }
    }

    .logo-link .nav-link .logo-text {
        font-size: 1.3em;
        font-weight: 900;
        color: #6a11cb;

        &:hover {
            background-color: inherit;
            box-shadow: none;
        }
    }

    .sidebar-header h3 {
        display: none;

        #sidebar:hover & {
            display: block;
        }
    }

    ul.components {
        padding: 0;

        li a {
            padding: 10px;
            font-size: 1em;
            display: block;
            text-decoration: none;
            transition: 0.6s;

            i, svg {
                border: 1px solid $colour-white;
                padding: 5px;
                border-radius: 4px;
                margin-right: 15px;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
            }

            span {
                margin-left: 20px;

                #sidebar:hover & {
                    display: inline;
                    color: $colour-black;
                }
            }
        }
    }
}
